@layer reset, base, layout, components, utilities, states, overrides, print;

@layer reset {
   

}

@layer base {
    :root {
        --cream: #ede6d3;
        --black: #000000;
        --orange-accent: #FFA30D;
        --green-accent:#3AB055;

        --radius: 25px;

        --more-space: 1rem;
        --less-space: 0.5rem;

        --on-focus: 2px solid var(--black);
        --scale-size: scale(1.1);

        --heading-one: "Gravitas One", serif; 
        --h1-weight: 400;
        
        --subhead-and-body: "helvetica-neue-lt-pro", sans-serif;
   
        --h2-weight: 700;
        
        --h3-weight: 400;
        
        --body-weight: 300;
            
        --font-style: normal;

    }

}

@layer layout {
    h1 {
        color: var(--black);
        font-style: var(--heading-one);
        font-weight: var(--h1-weight);
        font-style: var(--font-style);
    }

    h2 {
        color: var(--black);
        font-style: var(--subhead-and-body);
        font-weight: var(--h2-weight);
        font-style: var(--font-style);
    }

}

@layer components {

}

@layer utilities {

}

@layer states {

}

@layer overrides {

}

@media print {

}

