/* CSS by Athena O'Brien */

/* Imported Fonts */
@import url("https://use.typekit.net/kxq0kzg.css");


/* CSS Reset */
 *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

/*ROOT*/

:root {
        --cream: #ede6d3;
        --black: #000000;
        --orange-accent: #FFA30D;
        --green-accent:#3AB055;

        --radius: 25px;

        --more-space: 1rem;
        --less-space: 0.5rem;

        --on-focus: 2px solid var(--black);
        --scale-size: scale(1.1);

        --heading-one: "Gravitas One", serif; 
        --h1-weight: 400;
        
        --subhead-and-body: "helvetica-neue-lt-pro", sans-serif;
   
        --h2-weight: 700;
        
        --h3-weight: 400;
        
        --body-weight: 300;
            
        --font-style: normal;

    }

/* Global Styles - Mobile First */

@layer base, layout, components, utilities, states, overrides, print;

@layer base {
    body {
        margin: 0;
        background-color: var(--cream);

    }

    header {
        background-color: var(--orange-accent);

    }

    main {
        min-width: 450px;
        align-content: center;
    }

    nav {
        display: flex;
        padding: var(--more-space);
        
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: var(--less-space);
        margin: var(--more-space);
        justify-content: center;

    }
    
    h1 {
        color: var(--black);
        font-style: var(--heading-one);
        font-weight: var(--h1-weight);
        font-style: var(--font-style);
        text-align: center;
    }

    h2 {
        color: var(--black);
        font-style: var(--subhead-and-body);
        font-weight: var(--h2-weight);
        font-style: var(--font-style);
    }

    h3 {
        

    }

    p {
        font-style: var(--subhead-and-body);
        margin-left: var(--more-space);
    }

    a {
        font-style: var(--subhead-and-body);

    }

    footer {
        background-color: var(--orange-accent);

    }

}

@layer layout {
     


}

@layer components {
    .hero {
        background-color: var(--green-accent);
        border-radius: var(--radius);
        padding: var(--more-space);
        margin: var(--more-space);
        color: var(--cream);
     }

     .card {
        background-color: var(--green-accent);
        border-radius: var(--radius);
        padding: var(--more-space);
        margin: var(--more-space);
     }

}

@layer utilities {

}

@layer states {

}

@layer overrides {

}

/*media queries medium*/

@media screen and (max-width: 750px) {

}

/*media queries large*/

@media screen and (max-width: 1080px) {

}


/*media queries print*/

@media print {
    body {
        background-color: #ffffff;
    }



}

