@layer reset, base, layout, components, utilities, states, overrides, print;

@layer reset {
   

}

@layer base {
    :root {
        --cream: #ede6d3;
        --black: #000000;
        --orange-accent: #FFA30D;
        --green-accent:#3AB055;

        --radius: 25px;

        --more-space: 1rem;
        --less-space: 0.5rem;

        --on-focus: 2px solid var(--black);
        --scale-size: scale(1.1);

        --heading-one: "Gravitas One", serif; 
        --h1-weight: 400;
        
        --subhead-and-body: "helvetica-neue-lt-pro", sans-serif;
   
        --h2-weight: 700;
        
        --h3-weight: 400;
        
        --body-weight: 300;
            
        --font-style: normal;

    }

}

@layer layout {
     body {
        margin: 0;
        background-color: var(--cream);

    }

    header {
        background-color: var(--orange-accent);

    }

     main {
        align-content: center;

    }

    nav {
        display: flex;
        padding: var(--more-space);
        
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: var(--less-space);
        margin: var(--more-space);
        justify-content: center;

    }
    
    h1 {
        color: var(--black);
        font-style: var(--heading-one);
        font-weight: var(--h1-weight);
        font-style: var(--font-style);

        text-align: center;
    }

    h2 {
        color: var(--black);
        font-style: var(--subhead-and-body);
        font-weight: var(--h2-weight);
        font-style: var(--font-style);
    }

    h3 {

    }

    p {
        margin-left: var(--more-space);
    }

    a {

    }

    footer {
        background-color: var(--orange-accent);

    }

}

@layer components {

}

@layer utilities {

}

@layer states {

}

@layer overrides {

}

@media print {

}

